.section-title{
    border-top: 1px solid var(--gray-border);
    padding-top: 7px;
    margin-bottom: 15px;
}
.section-title:before{
    position: relative;
    top: -7px;
    content: '';
    display: block;
    width: 20px;
    height: 3px;
    background: var(--red);
}
.section-title p{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}